<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=620">
    <title>RIP IN PEACE</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/sockjs/0.3/sockjs.min.js"></script>
    <script src="js/chatHandler.js"></script>
    <script>
        $(function() {
            new ChatHandler('<%= chat_url %>');
        });
    </script>
</head>

<body>
    <%- partial("_header") %>
    <article>
        <p id="status">&nbsp;</p>
        <ul id="commandlog"></ul>
        <form id="inputbox">
            &nbsp;&nbsp;>
            <input type="text" id="commandinput" placeholder="enter commands here" />
        </form>

        <div class="stats" id="stats">
            Not logged in
        </div>

        <ul id="chatlog"></ul>
    </article>
</body>