<% if (is_admin == 1) { %>
    <header>
        <cooltitle>
            <skewing>S<skewing>K<skewing>8</skewing> <skewing>M</skewing>U</skewing>D</skewing>
            <skewing>A<skewing>D<skewing>M</skewing><skewing>I</skewing>N</skewing>!</skewing>
        </cooltitle>
    </header>
<% } else { %>
    <header>
        <cooltitle>
            <skewing>S<skewing>K<skewing>8</skewing> <skewing>M</skewing>U</skewing>D</skewing>
        </cooltitle>
    </header>
<% } %>