<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=620">
    <title>RIP IN PEACE</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="albums">
        <iframe style="border: 0; width: 350px; height: 350px;"
            src="https://bandcamp.com/EmbeddedPlayer/album=3157739173/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/"
            seamless>
        <a href="http://slutever.bandcamp.com/album/pretend-to-be-nice">PRETEND TO BE NICE by SLUTEVER</a>
        </iframe>
        <iframe style="border: 0; width: 350px; height: 350px;"
                src="https://bandcamp.com/EmbeddedPlayer/album=2385935093/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track=242197127/transparent=true/"
                seamless>
            <a href="http://surfcurse.bandcamp.com/album/sad-boys-ep">Sad Boys EP by Surf Curse</a>
        </iframe>
        <iframe style="border: 0; width: 350px; height: 350px;"
                src="https://bandcamp.com/EmbeddedPlayer/album=3542868586/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/"
                seamless>
            <a href="http://rozwellkid.bandcamp.com/album/too-shabby">Too Shabby by Rozwell Kid</a>
        </iframe>
    </div>
    <div id="message">
        <p>...important...</p>
    </div>
</body>