<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <% if (is_maintenance == 0) { %>
        <%- partial("_game") %>
    <% } else { %>
        <%- partial("_maintenance") %>
    <% } %>
</html>