a:link
{
    color: white;
}

a:visited
{
    color: white;
}

body
{
    font-family: 'courier new', sans-serif;

    color: #EAAAEA;

    border-color: #DA99DA;

    background-color: #000000;
    font-size: 14px;
}

cooltitle
{
    font-size: 42px;
}

#albums
{
    text-align: center;
}

#message
{
    text-align: center;
}

.them 
{
    padding-left: 16px;
    word-wrap:break-word;
    color: #EAAAEA;
}

.them:before 
{
    color: #AAAAAA;
}

.you
{
    color: #CCFACC;
    /*font-weight: bold;*/
}

.you:before
{
    content: '>';
    color: #AAAAAA;
}

#commandlog
{
    background-color: black;
    
    border-style:solid;
    border-width: 3px;
    list-style: none;

    overflow: auto;
    height: 490px;
    max-height: 490px;
    max-width: 700px;
    
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:30px;
}

#inputbox
{
    background-color: #000000;
    border-style: solid;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:16px;
    max-width: 714px;
}

#commandinput
{
    border-style: none; 
    background-color: #000000; 
    color: #CCFACC; 
    font-weight: bold;
    font-size: 14px;
    padding-right:10px;
    padding-left: 2px;
    width: 660px;
}

.playlist
{
    border-style:solid;
    border-width: 3px;
    position: absolute;
    width: 280px;
    top: 130px;
    left: 760px;

    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:16px;
}

.stats
{
    border-style:solid;
    position: absolute;
    width: 450px;
    height: 88px;
    top: 100px;
    left: 760px;

    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:16px;
}

#chatlog
{
    list-style: none;

    overflow: auto;
    border-style:solid;
    position: absolute;
    width: 450px;
    height: 432px;
    top: 207px;
    left: 760px;

    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:16px;    
}

chatname
{
    color: #DA99DA;
}

@keyframes flash
{
0%   {color:red;}
33%  {color:yellow;}
66%  {color:blue;}
100% {color:red;}
}

@-webkit-keyframes flash /* Safari and Chrome */
{
0%   {color:red;}
33%  {color:yellow;}
66%  {color:blue;}
100% {color:red;}
}


flashing
{
    animation:          flash .25s infinite linear normal;
    -webkit-animation:  flash .25s infinite linear normal;
}

@keyframes bounce
{
0%      {-moz-transform:scale(1,1);}
100%       {-moz-transform:scale(2,2);}
}

@-webkit-keyframes bounce /* Safari and Chrome */
{
0%      {transform:scale(1,1);}
100%       {transform:scale(2,2);}
}

bouncing
{
    animation:          bounce 1s infinite linear normal;
    -webkit-animation:  bounce 1s infinite linear normal;
    display:inline-block;
}


@keyframes rotation 
{
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}


@-webkit-keyframes rotation 
{
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(360deg);}
}

#spin
{
    animation: rotation 2s infinite linear;
    -webkit-animation: rotation 2s infinite linear;
    display:inline-block;
}

@keyframes skewing
{
    0%,100% {
        transform: skew(3deg,-1deg);
    }
    50%   {
        transform: skew(-3deg,1deg);
    }
    
    0%   {color:#FF13D8;}
    50%  {color:#07FF3F;}
}

@-webkit-keyframes skewing
{
    0%,100% {
        -webkit-transform: skew(3deg,-1deg);
    }
    50%   {
        -webkit-transform: skew(-3deg,1deg);
    }
    
    0%   {color:#FF13D8;}
    50%  {color:#07FF3F;}
}

skewing
{
    animation: skewing 1s infinite ease alternate;
    -webkit-animation: skewing .15s infinite linear alternate;
    display:inline-block;
}

skewing2
{
    animation: skewing .15s infinite linear alternate-reverse;
    -webkit-animation: skewing .15s infinite linear alternate-reverse;
    display:inline-block;
}



@-webkit-keyframes coolcol
{
    0%      {color:#FF13D8;}
    100%    {color:#07FF3F;}
}

@keyframes coolcol
{
    0%      {color:#FF13D8;}
    100%    {color:#07FF3F;}
}

coolcol
{
    animation: coolcol 4s infinite linear alternate;
    -webkit-animation: coolcol 4s infinite linear alternate;
    //-text-decoration: none;
}

coolcol2
{
    animation: coolcol 4s infinite linear alternate-reverse;
    -webkit-animation: coolcol 4s infinite linear alternate-reverse;
    //-text-decoration: none;
}

@keyframes scaling
{
    0%, 100% {}
    50% { transform: scale(1.1) }
}

@-webkit-keyframes scaling
{
    0%, 100% {}
    50% {  -webkit-transform: scale(1.1) }
}

change-scale
{
    animation: scaling .75s ease-in-out infinite;
    -webkit-animation: scaling .75s ease-in-out infinite;
    display:inline-block;
}

@keyframes popp
{
    0% {transform:translateX(-0.4em) }
    50% {}
    100% {transform:translateX(0.4em)}
}

@-webkit-keyframes popp
{
    0% {-webkit-transform:translateX(-0.4em)}
    50% {}
    100% {-webkit-transform:translateX(0.4em)}
}

change-pop
{
    animation: popp ease-in-out 1s infinte alternate;
    -webkit-animation: popp ease-in-out 1s infinite alternate;
    display: inline-block;
}

change-pop2
{
    animation: popp linear 1s infinte alternate-reverse;
    -webkit-animation: popp linear 1s infinite alternate-reverse;
    display: inline-block;
}


@-moz-keyframes flip-anim {
    from { -moz-transform:scaleY(1); }
    to { -moz-transform:scaleY(-1); }
}

@-ms-keyframes flip-anim {
    from { -ms-transform:scaleY(1); }
    to { -ms-transform:scaleY(-1); }
}

@-webkit-keyframes flip-anim {
    from { -webkit-transform:scaleY(1); }
    to { -webkit-transform:scaleY(-1); }
}

flipping {
    white-space: pre; 
    //display: block; 
    unicode-bidi: embed;
    font-family: "Courier New";
    
    -moz-animation:.5s flip-anim infinite ease-in-out;
    -ms-animation:.5s flip-anim infinite ease-in-out;
    -webkit-animation:.5s flip-anim infinite ease-in-out;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

